.hs-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 270px;
    width: 100%;
    background-color: var(--css-black);

}

.hs-content{
    display: flex;
    align-items: center;
    color: var(--css-white);

}
.hs-content-text{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.hs-img-frame{
    width: 212px;
    height: 212px;
}

.hs-image{
    height: 100%;
    width: 100%;
}