.title{
    font-size: 20px;
    color: var(--css-white);
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 24px;

}

.section{
    padding: 32px;
    width: 100%;
}

.section-header{
    display: flex;
    justify-content: space-between;
}

.section-toggle-btn{
    font-size: 20px;
    font-weight: 600;
    color: var(--css-primary);
    cursor: pointer;
}